/*For  Zach's personal website*/

:root{
	--pagewidth:90%;
	--rw:30%;
	--lw:58%;
}

body {	
	margin:0px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background-color:#134221;
	display:flex;
	flex-direction:column;
	align-items:center;	
	}

#header {
	width: var(--pagewidth);
	height: 120px;
	margin-top:2%;
	background-color:#FFFFFF;
}

#header h1{
	padding-left:20px;
}

#main_text {
	width: var(--pagewidth);
	background-color:#FFFFFF;
	display:flex;
	align-items:stretch;
	justify-content:center;
}

#column_left {
	width:var(--lw);
	background-color:#FFFFFF;
}

#column_right {
	width:var(--rw);
	padding-left:2%;
	background-color:#FFFFFF;
}

#column_right ul{
	list-style:none;
}

#column_right a{
	color:#101010;
	text-decoration:none;
	font-weight: bold;
}

#column_right a:hover{
	color:#520082;
	text-decoration:none;	
}

#footer {
	background-color:#F0E0FF;
	width:var(--pagewidth);
}


/*Seattle Crime project parameters*/
#headblock{
	width:var(--pagewidth);
	background-color:#FFFFFF;
	padding-bottom: 20px;	
}

#precinct_map {
	/*height:100vh;*/
	width:95%;
}

#block_1 {
	width:var(--pagewidth);
	display:flex;
	background-color:#FFFFFF;
}

#textblock_1 {
	width:47%;
	padding-left:2%;
	padding-right:1%;

}

#imgblock_1 {
	width:47%;
	padding-left:1%;
	padding-right:2%;
}

#standard_block {
	width:var(--pagewidth);
	background-color:#999999;
}

.standard_text {
	padding: 20px 2% 20px 2%;
}